<!DOCTYPE html>
<html>
<head>
    <!-- title: CHANGE ME -->
        <title>Home</title>
        
    <!-- stylesheets -->
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- scripts-->
    <script src="../static/js/script.js"></script>
    
    <!-- meta -->
    <meta name="author" content="Maggie Hunt">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Calculate the pace you need to run at, and generate a Spotify playlist to match it.">
    <meta name="keywords" content="python,HTML,CSS,javascript,Spotify,API,coding,programming">
    
    <div id="header"><h1>Cadence</h1>
        <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li class="current-page">
                <a href="/about">About</a>
            </li>
        </ul> 
    </nav>
    </div>
</head>
<body>
<p>Designed to suit your running needs.</p>
</body>
</html>