<!DOCTYPE html>
<html>
<head>
    <!-- title: CHANGE ME -->
        <title>👣 Cadence</title>
        
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abel" />
    <!-- scripts-->
   <script src="../static/js/script.js"></script>
    <script src="../static/js/formscript.js"></script>
    
    <!-- meta -->
    <meta name="author" content="Maggie Hunt">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Calculate the pace you need to run at, and generate a Spotify playlist to match it.">
    <meta name="keywords" content="python,HTML,CSS,javascript,Spotify,API,coding,programming">
</head>
<body onload="hideonLoad();">  
    <section>
        <div id="header" class="header"><h1>Cadence</h1>
            <nav>
            <ul>
                <li class="current-page">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul> 
        </nav>
        </div>
<div> 
<div class="content-wrap"><p>Enter your pace details from some past runs here, to generate your ideal bpm-tailored running playlist.<br><br>
  You will need to know, for each run, your average pace per kilometer (in minutes and seconds), and your average cadence, aka steps per minute (spm), or your distance and the step count for that run.<br><br>
Please select which you can provide from the dropdown.</p>

<div class="row  center-row">
  <select class="form-control form-control-sm formInputs2" id="CadenceorNot" onchange="yesnoCheck(this);">
    <option selected value="Cadence">Cadence</option>
    <option value="DistanceAndSteps">Distance and Steps</option>
  </select>
</div><br>
  <form id="user_input_form" method="post" action="/results" onsubmit="return results()" enctype="multipart/form-data">
    
    <div class="form-group"></div>
                
    
      <h3>Calculator</h3><br>
      
    <div class="row">
    <div class="col">Run #1</div>
    <div class="col" id="ifDistance1">
      <input type="number" step="any" id="distance1" name="distance1" class="form-control formInputs" placeholder="km" min="0" max="500" required>
      <label for="distance1">km</label>
    </div>
    <div class="col" id="ifDSteps1">
      <input type="number"  id="steps1" name="steps1" class="form-control formInputs" placeholder="steps" min="0" max="5000000" required>
      <label for="steps1">steps</label>
    </div>
    <div class="col">
      <input type="number" id="pace_minutes1" name="pace_minutes1" class="form-control formInputs" placeholder="mins" min="0" max="60" required>
      <label for="pace_minutes1">m</label>
    </div>
    <div class="col">
      <input type="number"  id="pace_seconds1" name="pace_seconds1" class="form-control formInputs" placeholder="secs" min="0" max="60" required>
      <label for="pace_seconds1">s</label>
    </div>
    <div class="col"><label>km pace</label></div>
    <div class="col" id="perkm1"><label>at</label></div>
    <div class="col" id="ifCadence1">
      <input type="number"  id="cadence1" name="cadence1" class="form-control formInputs" placeholder="spm" min="0" max="500" required>
      <label for="cadence1">spm</label>
    </div>

  </div>
  <div class="row">
    <div class="col">Run #2</div>
    <div class="col" id="ifDistance2">
      <input type="number" step="any" id="distance2" name="distance2" class="form-control formInputs" placeholder="km" min="0" max="500" required>
      <label for="distance2">km</label>
    </div>
    <div class="col" id="ifDSteps2">
      <input type="number"  id="steps2" name="steps2" class="form-control formInputs" placeholder="steps" min="0" max="5000000" required>
      <label for="steps2">steps</label>
    </div>
    <div class="col">
        <input type="number" id="pace_minutes2" name="pace_minutes2" class="form-control formInputs" placeholder="mins" min="0" max="60" required>
        <label for="pace_minutes2">m</label>
      </div>
      <div class="col">
        <input type="number"  id="pace_seconds2" name="pace_seconds2" class="form-control formInputs" placeholder="secs" min="0" max="60" required>
        <label for="pace_seconds2">s</label></div>
        <div class="col"><label>km pace</label></div>
    
        <div class="col" id="perkm2"><label>at</label></div>
      <div class="col" id="ifCadence2">
        <input type="number"  id="cadence2" name="cadence2" class="form-control formInputs" placeholder="spm" min="0" max="500" required>
        <label for="cadence2">spm</label>
      </div>
 
    </div>
  <div class="row">
    <div class="col">Run #3</div>
    <div class="col" id="ifDistance3">
      <input type="number" step="any" id="distance3" name="distance3" class="form-control formInputs" placeholder="km" min="0" max="500" required>
      <label for="distance3">km</label>
    </div>
    <div class="col" id="ifDSteps3">
      <input type="number"  id="steps3" name="steps3" class="form-control formInputs" placeholder="steps" min="0" max="5000000" required>
      <label for="steps3">steps</label>
    </div>
    <div class="col">
        <input type="number" id="pace_minutes3" name="pace_minutes3" class="form-control formInputs" placeholder="mins" min="0" max="60" required>
        <label for="pace_minutes3">m</label>
      </div>
      <div class="col">
        <input type="number"  id="pace_seconds3" name="pace_seconds3" class="form-control formInputs" placeholder="secs" min="0" max="60" required>
        <label for="pace_seconds3">s</label>
      </div>
      <div class="col"><label>km pace</label></div>
      <div class="col" id="perkm3"><label>at</label></div>
      <div class="col" id="ifCadence3">
        <input type="number"  id="cadence3" name="cadence3" class="form-control formInputs" placeholder="spm" min="0" max="500" required>
        <label for="cadence3">spm</label>
      </div>

    </div><div class="row"></div>
  <div class="row">
    <div class="col">Goal run</div>
    <div class="col">
        <input type="number"  id="desired_distance" name="desired_distance" class="form-control formInputs" placeholder="kms" required>
        <label for="desired_distance">km</label>
      </div>
      <div class="col"><p>in</p></div><div class="col">
        <input type="number"  id="desired_time_hours" name="desired_time_hours" class="form-control formInputs" placeholder="hrs" min="0" max="24" required>
        <label for="desired_time_hours">h</label>
      </div>
      <div class="col">
      <input type="number" id="desired_time_minutes" name="desired_time_minutes" class="form-control formInputs" placeholder="mins" min="0" max="60" required>
      <label for="desired_time_minutes">m</label>
    </div>
    <div class="col">
      <input type="number"  id="desired_time_seconds" name="desired_time_seconds" class="form-control formInputs" placeholder="secs" min="0" max="60" required>
      <label for="desired_time_seconds">s</label>
    </div>
    </div>
<div class="row center-row">
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
    <label for="exampleCheck1">I understand that my data will only be held for the purposes of this calculation.</label>
  </div><br></div>
  <div class="row center-row">
  <button type="submit" class="btn btn-dark">Submit</button></div></div></section>
</form>
  </div> </div>
</div>
</div>
<footer>
  <ul>
  <li><a href="https://www.linkedin.com/in/maggierphunt/" target=blank><img src="../static/images/linkedin.png" alt="Reach out on Linkedin" style="width:auto;height:18px;"></a></li>
  <li><a href="https://www.facebook.com" target=blank><img src="../static/images/facebook new logo white.png" alt="Share on Facebook" style="width:auto;height:22px;"></a></li>
  <li><a href="https://www.instagram.com" target=blank><img src="../static/images/instagram.png" alt="Share on Instagram" style="width:auto;height:20px;"></a></li>
  <li><a href="https://www.twitter.com" target=blank><img src="../static/images/Twitter_Social_Icon_Circle_White.png" alt="Tweet about Cadence!" style="width:auto;height:20px;"></a></li>
  <li><a href="https://github.com/maggierphunt/pace_app" target=blank><img src="../static/images/githublogo.png" alt="See the code!" style="width:auto;height:21px;"></a></li>
  <li><a href="https://www.justgiving.com/fundraising/greatnorthmaggie" target=blank><img src="../static/images/justgiving.png" alt="Sponsor me!" style="width:auto;height:20px;"></a>       
</li>
</ul>
</footer>
</body>
</html>